@model PagedList.Core.IPagedList<SharedObjects.ValueObjects.VNew>
@{
    int PageCurrent = ViewBag.CurrentPage;
    int PageLength = ViewBag.PageLength;
    int PageBack = PageCurrent - 1;
    int PageNext = PageCurrent + 1;
    int PageNextPlus = PageNext + 1;
    int PageNextMinus = PageBack - 1;

    ViewData["Title"] = "Trang tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var newRandom = ViewBag.newRandom as IEnumerable<SharedObjects.ValueObjects.VNew>;
}
<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image" data-bg="img/bg/9.jpeg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                    <div class="section-title-area ltn__section-title-2">
                        <h6 class="section-subtitle ltn__secondary-color">//  Welcome to our company</h6>
                        <h1 class="section-title white-color">Tin tức</h1>
                    </div>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="/Home/Index">Trang chủ</a></li>
                            <li>Tin tức</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->
<!-- BLOG AREA START -->
<div class="ltn__blog-area ltn__blog-item-3-normal mb-120">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                string url = $"{HostConfig.Domain}/images/new/{item.Thumb}";
                <!-- Blog Item -->
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__blog-item ltn__blog-item-3">
                        <div class="ltn__blog-img">
                            <a asp-controller="New" asp-action="Detail" asp-route-id="@item.PostId"><img width="370" height="260" src="@url" alt="#"></a>
                        </div>
                        @if (item.IsNewFeed)
                        {
                            <div class="product-badge">
                                <ul>
                                    <li class="sale-badge">Bài đăng mới</li>
                                </ul>
                            </div>
                        }
                        <div class="ltn__blog-brief">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-author">
                                        <a href="#"><i class="far fa-user"></i>Tác giả: @item.UserName</a>
                                    </li>
                                    <li class="ltn__blog-tags">
                                        <a href="#"><i class="fas fa-tags"></i>Bài đăng mới</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="ltn__blog-title"><a asp-controller="New" asp-action="Detail" asp-route-id="@item.PostId">@item.Title</a></h3>
                            <div class="ltn__blog-meta-btn">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>@item.CreatedDate.ToString("dd/MM/yyyy")</li>
                                    </ul>
                                </div>
                                <div class="ltn__blog-btn">
                                    <a asp-controller="New" asp-action="Detail" asp-route-id="@item.PostId">Đọc thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Item -->
            }
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (PageCurrent > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="?Page=1" aria-label="Previous">
                            <span class="fa fa-chevron-left"></span>
                        </a>
                    </li>
                    if (PageNextMinus >= 1)
                    {
                        <li class="page-item"><a class="page-link" href="?Page=@PageNextMinus">@PageNextMinus</a></li>
                    }
                    <li class="page-item"><a class="page-link" href="?Page=@PageBack">@PageBack</a></li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="?Page=1" aria-label="Previous">
                            <span class="fa fa-chevron-left"></span>
                        </a>
                    </li>
                }

                <li class="page-item active"><a class="page-link" href="?Page=@PageCurrent">@PageCurrent</a></li>

                @if (PageCurrent < PageLength)
                {
                    <li class="page-item"><a class="page-link" href="?Page=@PageNext">@PageNext</a></li>
                    if (PageNextPlus <= PageLength)
                    {
                        <li class="page-item"><a class="page-link" href="?Page=@PageNextPlus">@PageNextPlus</a></li>
                    }
                    <li class="page-item">
                        <a class="page-link" href="?Page=@PageLength" aria-label="Next">
                            <span class="fa fa-chevron-right"></span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="?Page=1" aria-label="Next">
                            <span class="fa fa-chevron-right"></span>
                        </a>
                    </li>
                }

            </ul>
        </nav>
        <!-- End Pagination -->

    </div>
</div>
<!-- BLOG AREA END -->