@model SharedObjects.ValueObjects.VOrder
@{
    var status = ViewBag.Status as List<SharedObjects.ValueObjects.VTransactStatus>;
}
<div class="modal-header">
    <h5 class="modal-title">THÔNG TIN ĐƠN HÀNG</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">THÔNG TIN ĐƠN HÀNG #@Model.OrderId</h4>
            <div class="table-responsive">
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>ID:</td>
                            <td class="text-dark font-weight-semibold">#@Model.OrderId</td>
                        </tr>
                        <tr>
                            <td>Ngày mua hàng:</td>
                            <td>@Model.OrderDate</td>
                        </tr>
                        <tr>
                            <td>Khách hàng:</td>
                            <td>@Model.UserName</td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td>@Model.PhoneNumber</td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td>@Model.Address</td>
                        </tr>
                        <tr>
                            <td>Tổng tiền:</td>
                            <td>@Model.TotalMoney.ToString("#,##0") VNĐ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form asp-controller="Order" asp-action="ChangeStatus" asp-route-id="@Model.OrderId" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="OrderId" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Chọn trạng thái đơn hàng</label>
                            <select class="form-control" asp-for="TransactStatusId" required>
                                <option value="0" disabled selected>Chọn trạng thái đơn hàng</option>
                                @foreach (var item in status)
                                {
                                    <option value="@item.TransactStatusId">@item.Status</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="checkbox">
                            <input id="checkbox" type="checkbox" asp-for="Paid">
                            <label for="checkbox">Đã thanh toán</label>
                            <span asp-validation-for="Paid" class="text-danger"></span>
                        </div> 

                         <div class="checkbox">
                            <input id="checkbox3" type="checkbox" asp-for="Deleted">
                            <label for="checkbox3">Đã xóa</label>
                            <span asp-validation-for="Deleted" class="text-danger"></span>
                        </div> 

                    </div>
                </div>
                <button type="submit" class="btn btn-success">Lưu thay đổi</button>
            </form>
        </div>

    </div>
</div>