@model PagedList.Core.IPagedList<SharedObjects.ValueObjects.VOrder>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách đơn hàng " + CurrentPage;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách đơn hàng : Trang @CurrentPage</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-center">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ và tên</th>
                        <th>Ngày mua</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Thanh toán</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-controller="Order" asp-action="Details" asp-route-id="@item.OrderId">@item.OrderId</a>
                                </td>
                                <td>@item.UserName</td>
                                <td>@item.OrderDate</td>
                                <td>@item.TotalMoney.ToString("#,##0") VNĐ</td>

                                <td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a data-target="#modal-header" data-toggle="modal" class="btn btn-secondary btn-tone m-r-5" asp-controller="Order" asp-action="ChangeStatus" asp-route-id="@item.OrderId">
                                            @item.Status
                                        </a>
                                    }
                                    else
                                    {
                                        @item.Status
                                    }
                                </td>

                                <td>
                                    @if (item.TransactStatusId == 4)
                                    {
                                        if (item.Paid == true)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="checkbox text-success">
                                                    <input id="checkbox1" type="checkbox" checked="" disabled="">
                                                    <label for="checkbox1">Đã thanh toán</label>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="checkbox text-danger">
                                                    <input id="checkbox1" type="checkbox" disabled="">
                                                    <label for="checkbox1">Chưa thanh toán</label>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        if (item.Paid == true)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="checkbox text-success">
                                                    <input id="checkbox1" type="checkbox" checked="" disabled="">
                                                    <label for="checkbox1">Đã thanh toán</label>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <a data-target="#modal-header-pay" data-toggle="modal" class="btn-tone m-r-5 text-danger" asp-controller="Order" asp-action="PayStatus" asp-route-id="@item.OrderId">
                                                    <div class="checkbox">
                                                        <input id="checkbox-pay" type="checkbox">
                                                        <label for="checkbox-pay">Chưa thanh toán</label>
                                                    </div>
                                                </a>

                                            </div>
                                        }
                                    }

                                </td>
                                <td>
                                    @if (item.TransactStatusId < 3)
                                    {
                                        <a data-target="#modal-header-next" data-toggle="modal" class="btn btn-primary btn-tone m-r-5" asp-controller="Order" asp-action="NextStatus" asp-route-id="@item.OrderId">
                                            Chuyển trạng thái
                                        </a>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary btn-tone m-r-5" disabled>
                                            Đã hoàn thành
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-controller="Order" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="modal-header" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="modal-header-pay" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="modal-header-next" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Script {
    <script>
        $('#modal-header').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });

        $('#modal-header-pay').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });

        $('#modal-header-next').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });
    </script>
}