@model PagedList.Core.IPagedList<SharedObjects.ValueObjects.VOrder>
@{
    ViewData["Title"] = "Trang chủ Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-lg-12">

            <div class="row">

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="m-b-0 text-muted"><b>Tổng doanh số bán ra - @DateTime.Today.ToString("'tháng' MM 'năm' yyyy")</b></p>
                                    <h2 class="m-b-0 text-success">@ViewBag.TotalSum.ToString("#,##0") VNĐ</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="m-b-0 text-muted"><b>Tổng đơn hàng - @DateTime.Today.ToString("'tháng' MM 'năm' yyyy")</b></p>
                                    <h2 class="m-b-0 text-danger">@ViewBag.TotalOrder</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="m-b-0 text-muted"><b>Thống kê bán ra @DateTime.Today.ToString("'năm' yyyy")</b></p>
                            </div>
                            <div class="m-t-50">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>








    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script>
        let myChart = document.getElementById('myChart').getContext('2d');

        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';

        let massPopChart = new Chart(myChart, {
            type: 'bar',
            data: {
                labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12',],
                datasets: [{
                    data: [
        @ViewBag.T1,
        @ViewBag.T2,
        @ViewBag.T3,
        @ViewBag.T4,
        @ViewBag.T5,
        @ViewBag.T6,
        @ViewBag.T7,
        @ViewBag.T8,
        @ViewBag.T9,
        @ViewBag.T10,
        @ViewBag.T11,
        @ViewBag.T12
                                            ],
                    backgroundColor: 'rgba(54, 162, 235, 0.6)'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Doanh số bán ra của cửa hàng (đơn vị: nghìn VND)',
                    fontSize: 14
                },
                legend: {
                    display: false
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                }
            }
        });

    </script>
}